.photo-grid__delete-button {
  padding: 0;
  background: url(../../../images/delete-button.svg) center no-repeat;
  cursor: pointer;
  border: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;
}
.photo-grid__delete-button:hover {
  opacity: 50%;
}