.form-change__save-button_inactive {
  opacity: 20%;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.form-change__save-button_inactive:hover {
  opacity: 20%;
  cursor: default;
}