.profile__add-button {
  padding: 0;
  width: 282px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2%;
  background: url(../../../images/profile-plus.svg) center no-repeat transparent;
  cursor: pointer;
  transition: opacity .2s;
}
.profile__add-button:hover {
  opacity: 60%;
}
@media (min-width: 767px) {
  .profile__add-button {
    justify-self: end;
    width: 150px;
    background-size: 22px;
  }
}