.form-change {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: white;
  border-radius: 10px;
  padding: 25px 22px;
}
@media (min-width: 767px) {
  .form-change {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 34px 36px 37px;
  }
}