.photo-grid__like-button {
  margin-top: 5px;
  width: 22px;
  height: 19px;
  border: 0;
  background: url(../../../images/photoGrid-like.svg) no-repeat transparent;
  cursor: pointer;
  transition: opacity .2s;
}
.photo-grid__like-button:hover {
  opacity: 50%;
}